<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue To-do App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="app-container" id="tasklist">
      <h1 class="app-header">To-do App Demo</h1>

      <div class="add-task">
        <input
          type="text"
          class="task-input"
          placeholder="Add New Task"
          v-model="inputName"
          @keyup.enter="newTask"
        />
        <button
          type="submit"
          class="submit-task"
          @click="newTask"
        ></button>
      </div>

      <ul class="task-list">
        <li class="task-list-item" v-for="task in tasks">
          <label class="task-list-item-label">
            <input type="checkbox" />
            <span>{{task.name}}</span>
          </label>
          <span class="delete-btn" title="Delete Task" @click="deleteTask(task)"
            >{{task.del}}</span
          >
        </li>
      </ul>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
